body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-attachment: fixed;
  background-color:orange;
  color:white;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a:link {
  color:  white;
}

a:visited {
  color: white;
}

a:hover {
  color:grey;
}

a:active {
  color: white;
}
h1 {
  font: 'Roboto';
  color: white;

}
header {

  /* flex-direction: column; */
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  background-color: rgb(0, 0, 0);
  color:rgb(247, 244, 244);
}

nav {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

footer {
  font: Helvitica;
  width: 100%;
  display: flex;
  align-items: baseline;
  padding: 1em;
  margin-bottom: auto;
  background-color: orange;
  color:rgb(247, 244, 244);
}

.artist {
display: flex;
width: 400px;
margin: 0 auto;
/* justify-content: space-between; */
padding: 1em;

}
.artistinfo {
  text-align: left;
  margin-left: 20px;
}

/* .artistalbum {
  width: 200px;
  height: auto;
  
} */

@media screen and (max-width:600px) {
  header {
    flex-direction: column;
  }
  .artist{
    flex-direction: column;
  }
}

